
body{
    background-color:aqua ;
}

#container{
    width: 900px;
    height: 600px;
    background-color: aliceblue;  
    margin: 50px auto auto auto ;
    display: grid;
    grid-template-columns: auto auto;
    border: inset 2px gray;
}

#myInteraction{
    padding: 10px;
}



#mapImage{
    max-width: 100%;
    height: auto;
    margin-top:20px ;
}