
body{
    background-color:aqua ;
}

#container{
    width: 900px;
    height: 600px;
    background-color: aliceblue;  
    margin: 50px auto auto auto ;
    display: grid;
    grid-template-columns: auto auto;
    border: inset 2px gray;
}

#myInteraction{
    padding: 10px;
}



#mapImage{
    max-width: 100%;
    height: auto;

}

.compass{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left:10vw;
    
}

nav button{
    color: black;
    font-size: 16px;
    border:none;
    border-radius: 5px;
    background: gray;
    width: 100px;
}

nav button:hover{
    cursor: pointer;
    background: rgb(192, 192, 192);
    
}

.sideButtons{
    display: flex;
}